@model CRUDAlumnos.Models.ViewModels.Alumnos.AlumnoViewModel

@{
    ViewBag.Title = "Borrar Alumnmo";
}

<h2>Borrar Alumnmo</h2>

<h3>Estás seguro de eliminar este alumno?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SurName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurName)
        </dd>
    </dl>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Borrar" class="btn btn-danger" />
        
    </div>
    <br/>
        @Html.ActionLink("Regresar", "Index")
}
